/* styles.css */

/* Global styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f9f9f9; /* Light mode background color */
}

/* Dark mode styles */
body.dark-mode {
  background-color: #333; /* Dark mode background color */
  color: #fff;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
  /* Mobile styles here */
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* Tablet styles here */
}

@media only screen and (min-width: 1025px) {
  /* Desktop styles here */
}
